$background-color: white;
$primary-color: #ffffff;
$title-color: rgb(41, 41, 41);
$subtitle-color: #474747;

$link-color: #09a1e8;
$info-color: #323131;
$effect-color: #09a1e8;

$shadow: rgba(black, 0.2);
$buttonPrimary-color: #248bda;
$buttonPrimary-link-color: rgb(230, 230, 230);

$buttonSecondary-color: rgb(6, 27, 255);
$buttonSecondary-link-color: #ffffff;
$button-border-color: #61cedf;
$button-link-color: #61cedf;

$cardContact-color: #003e5c;
$linkContact-color: #0073ad;

$footer-color: $shadow;

$Dark-background-color: rgb(134, 134, 134);
$Dark-primary-color: #464646;

#light{
  background-color: $background-color;
}

#dark{
  background-color: #202020;
}
