$primary-color: #3d6c93;
$background-color: #032d4b;

$title-color: #61cedf;
$subtitle-color: #499fad;
$link-color: #ffffff;
$info-color: #d0d0d0;

$button-color: #5398d1;
$button-link-color: black;

body{
  background-color: $background-color;
}