.navbar{
    position: sticky;
    top: 0px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-color);
    padding: 0px 20px 0px;    
    align-items: center;
    animation: navbarBefore 1s none;
    z-index: 5;
}

.navbar__logoContainer-title{
    color: white;
    font-size: 20px;
    font-weight: 500
}

.navbar__linksContainer{
    display: flex;
    flex-direction: row;
    gap: 40px;
    list-style: none;
}

.navbar__linksContainer-item{
    position: relative;
    animation: buttonBefore none;
}

.navbar__linksContainer-link{
    color: white;
    text-decoration: none;
    font-size: large;
    cursor: pointer;
}

.navbar__linksContainer-icon{
    position: absolute;
    top: 2px;
    left: -19px;
}

.navbar__linksContainer-item::before{
    position: absolute;
    left: -26%;
    bottom: -5px;
    content: '';
    background-color: white;
    width: 0%;
    height: 3px;
    transition: width .3s;
}

.navbar__linksContainer-item:hover::before{
    width: 128%;
}

@keyframes navbarBefore{
    0%{
        transform: translateY(-100px);
    }
}

@keyframes buttonBefore {
    50%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

