.TechCard{
    text-align: center;
    cursor: pointer;
}

.TechCard-img{
    object-fit: contain;
    width: 140px;
    transition: all .5s;
}

.TechCard-title{
    margin-top: -5px;
    font-size: 1.5rem;
}

.TechCard-img:hover{
    scale: 1.1;
}