@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import "./themes//DarkTheme.scss";

* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-family: "Quicksand", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Signika Negative", sans-serif;
}

:root {
  scroll-behavior: smooth;
  scroll-padding: 250px;
}

.Container {
  display: flex;
  flex-direction: column;
  width: 95%;
  overflow: hidden;
  justify-content: center;
  margin: auto;
}

footer {
  text-align: center;
  display: flex;
  height: 100px;
  align-items: center;
  background-color: $footer-color;
  color: $info-color;
  font-size: clamp(5px, 12vw, 15px);
  margin-top: 100px;
  p {
    width: 100%;
  }
}
