@import "./themes/DarkTheme.scss";

.ContactSection {
  display: flex;
  flex-direction: column;
  align-items: center;

  .ContactSection__containerContact {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
    align-items: center;
    padding: 30px 10px;
    border-radius: 10px;
    justify-content: space-evenly;

    .ContactSection__containerContact-card {
      transition: .3s;
      background-color: #248bda;
      width: 70%;
      max-width: 300px;
      height: auto;
      padding: 50px 10px;
      text-decoration: none;
      color: #ffff;
      font-weight: 600;
      display: flex;
      flex-direction: column;
      align-items: center;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

      .ContactSection__containerContact-card-link {
        margin-top: 50px;
        font-size: clamp(9px, 6vw, 20px);
        word-break: break-all;
        text-align: center;
      }

      .ContactSection__containerContact-card-icon {
        transform: scale(5);
        margin-top: 40px;
      }

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

#dark .ContactSection__containerContact-card {
  background-color: rgba($color: #000000, $alpha: 0.3);
  color: rgb(228, 228, 228);

  &:hover {
    color: #248bda;
  }
}

@media (min-width: 768px) {
  .ContactSection {
    width: 100%;
    .ContactSection__containerContact {
      width: 85%;
      padding: 20px;
      flex-direction: row;
    }
  }
}
