@import "./themes/DarkTheme.scss";

.ProjectCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 235px;
  overflow: hidden;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  .ProjectCard_img {
    transition: 0.3s;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .ProjectCard_button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    position: absolute;
    cursor: pointer;
    background-color: $buttonPrimary-color;
    color: $buttonPrimary-link-color;
    width: 70%;
    max-width: 150px;
    font-weight: 600;
    border: 0;
    border-radius: 10px;
    padding: 4px 10px;
    font-size: 1em;
    top: 110%;
    transition: 0.4s;
    font-size: clamp(10px, 6vw, 18px);

    &:hover{
      transform: scale(1.1);
    }

    .ProjectCard_button_icon{
      transform: scale(1.1);
    }
  }

  .ProjectCard_title {
    position: absolute;
    color: white;
    font-size: clamp(8px, 7vw, 30px);
    top: -2em;
    text-align: center;
    transition: 0.4s;
  }

  &:hover {

    .ProjectCard_img {
      transform: scale(1.3);
      filter: brightness(0.15) blur(5px);
    }

    .ProjectCard_button{
        top: 65%;
    }

    .ProjectCard_title {
      top: 30%;
    }
  }
}
