@import "./themes//DarkTheme.scss";

.ProjectModal {
  position: fixed;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: unset;
  background-color: rgba($color: #000000, $alpha: 0.5);
  backdrop-filter: blur(10px);
  z-index: 5;
  animation: blur 0.3s;

  .ProjectModal__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 90%;
    max-width: 1000px;
    height: 90%;
    padding: 10px;
    margin: 30px auto;
    border-radius: 10px;
    background-color: #ffffff;
    position: relative;
    z-index: 6;
    box-shadow: 0px 10px 5px rgba($color: #000000, $alpha: 0.3);
    animation: openModal 0.7s;

    .ProjectModal__container-buttonQuit {
      font-size: 30px;
      position: absolute;
      top: 15px;
      cursor: pointer;
      right: 20px;
      width: 35px;
      background-color: transparent;
      border-radius: 20px;
      border: 0px;
      height: 35px;
      padding: 3px;
      color: #248bda;
      text-align: center;
      transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);

      &:hover {
        transform: scale(1.1);
      }
    }

    .ProjectModal__container-img {
      width: 100%;
      max-width: 350px;
      object-fit: contain;
      margin: 50px auto 10px;
    }

    .ProjectModal__containerInfo {
      display: flex;
      flex-direction: column;
      width: 90%;
      margin: 0px auto;
      justify-content: center;
      gap: 20px;

      .ProjectModal__container-title {
        text-align: center;
        font-size: 2rem;
        font-weight: 400;
        color: #313131;
      }

      .ProjectModal__containerInfo-containerTech {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;

        .ProjectModal__containerInfo-containerTech-tech {
          background-color: #248bda;
          padding: 5px 15px;
          border-radius: 20px;
          color: white;
          font-size: clamp(5px, 5vw, 20px);
        }
      }

      .ProjectModal__container-info {
        color: $info-color;
        text-align: center;
        font-size: clamp(5px, 6vw, 16px);
      }

      .ProjectModal__container__linksContainer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 30px;
        width: 100%;
        position: absolute;
        bottom: 20px;
        left: 0;
        right: 0;

        .ProjectModal__container__linksContainer-button {
          font-weight: 600;
          display: flex;
          border-radius: 10px;
          flex-direction: row;
          justify-content: center;
          gap: 5px;
          margin-top: 30px;
          padding: 10px 3vw;
          text-decoration: none;
          color: white;
          width: auto;
          background-color: #248bda;
          transition: 0.3s;

          .ProjectModal__container__linksContainer-link-icon {
            transform: scale(1.1);
          }

          &:hover {
            transform: scale(1.1);
            box-shadow: 0px 3px 10px $shadow;
          }
        }
      }
    }
  }
}

#dark .ProjectModal {
  .ProjectModal__container {
    background-color: #222222;
    .ProjectModal__container-buttonQuit {
      color: #248bda;
    }

    .ProjectModal__container-title {
      color: #e3e3e3;
    }

    .ProjectModal__container-info{
      color: #d4d4d4;
    }

    .ProjectModal__container__linksContainer {
      .ProjectModal__container__linksContainer-button {
        color: #e4e4e4;
        background-color: rgba($color: #101010, $alpha: 0.4);
        border: 1px solid #248bda;
        box-shadow: 0px 0px 5px #248bda;
        color: #248bda;

        &:hover {
          box-shadow: none;
          background-color: #248bda;
          color: #101010;
        }
      }
    }
  }
}

@media (min-width: 758px) {
  .ProjectModal {
    .ProjectModal__container {
      flex-direction: row;
      height: 80vh;
      padding: 10px;
      justify-content: space-between;

      .ProjectModal__container-img {
        height: 90%;
        margin: auto;
        object-fit: cover;
      }

      .ProjectModal__containerInfo {
        width: 50%;
        justify-content: flex-start;

        .ProjectModal__container-title {
          margin-top: 3.5vh;
        }
        .ProjectModal__container__linksContainer {
          bottom: 40px;
          right: 40px;
          left: auto;
          width: auto;
        }
      }
    }
  }
}

@keyframes openModal {
  0% {
    transform: translateY(-100px);
  }
}

@keyframes blur {
  0% {
    opacity: 0;
  }
}
