@import "./themes/DarkTheme.scss";

.TechCard {
  width: auto;

  .img {
    width: 100%;
    max-width: 150px;
  }

  .title {
    text-align: center;
    color: $subtitle-color;
    font-weight: 600;
    margin-top: -13px;
    margin-left: -29px;
    font-size: 1.4rem;
  }
}

