@import "./themes/DarkTheme.scss";

.TechSection {
  .container {
    display: grid;
    width: 80%;
    margin: auto;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    align-items: center;
    row-gap: 40px;
    margin-bottom: 100px;
  }
}
