@import "./themes/DarkTheme.scss";

h2 {
  color: $title-color;
  text-align: center;
  font-size: clamp(18px, 20vw, 50px);
  margin-top: 25px;
  margin-bottom: 40px;
  font-weight: 500;
}


.Welcome {
  margin-top: 2vh;
  justify-content: center;
  height: 87vh;
  display: flex;
  flex-direction: column-reverse;

  .Welcomeinfo {
    animation: apparition 1s;
    .title {
      color: $title-color;
      text-align: center;
      font-size: 1.5rem;
      margin-top: 25px;
    }

    .rol {
      color: $subtitle-color;
      text-align: center;
      font-size: 1rem;
    }

    .bio {
      margin: 1.5vh auto;
      text-align: center;
      width: 80%;
      font-weight: 400;
      color: $info-color;
    }

    .buttonCv {
      border-radius: 10px;
      margin: auto;
      display: flex;

      color: $buttonSecondary-link-color;
      background-color: $buttonSecondary-color;
      padding: 10px 5px 10px 0.4em;
      justify-content: center;
      align-items: center;
      gap: 15px;
      width: 45%;
      text-decoration: none;
      max-width: 300px;
      font-size: 1.3rem;
      font-weight: 400;
      margin-top: 20px;
      transition: .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      cursor: pointer;

      .Welcome-button-icon{
        transform: scale(1.3);
      }

      &:hover{
        transform: scale(1.1);
      }
    }
  }

  .img {
    animation: apparition 1s;
    width: 100%;
    margin: -30px auto 0px;
    max-width: 350px;
  }

}

@media (min-width: 768px) {
  .Welcome {
    margin: auto;
    width: 90%;
    height: 100vh;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;


    .Welcomeinfo{
      width: 40%;
      margin-bottom: 10%;
      .title{
        font-size: 2em;
      }
      .rol{
        font-size: 1.8em;
      }
      .bio{
        font-size: 1.2em;
      }
    }

    .img{
      width: 60%;
      max-width: 650px;
    }
  }

}


@keyframes apparition{
  0%{
    opacity: 0;
  }
}